{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
             <img src="/images/whiterhino.gif" height="450" width="600" alt="elephant">
            </div>
            <div class="col-md-6 container">
                <p class=" text-center intro">Let’s Track Our WildLife Whereabouts</p><br>
                <form action="/animals/new" method="post">
                    <div class="form-group">
                        <input name="animal" type="text" id="animal" class="form-control"
                               placeholder="Name Of Animal...">
                    </div><br>
                    <div class="form-group">
                        <select name="danger" id="danger" class="form-control">
                            <option value="endangered">Endangered</option>
                            <option value="not-endangered">Not Endangered</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <select name="health" id="health" class="form-control">
                            <option label="">---Animal's health status---</option>
                            <option value="healthy">Healthy</option>
                            <option value="ill">ill</option>
                            <option value="okay">Okay</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <select name="age" id="age" class="form-control">
                           <option label="">---Animal's age---</option>
                            <option value="newborn">Newborn</option>
                            <option value="young">Young</option>
                            <option value="adult">Adult</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <select name="location" id="location" class="form-control">
                        <option label="">---Choose location---</option>
                            <option value="zone-a">Zone A(Tsavo)</option>
                            <option value="zone-b">Zone B(Kakamega)</option>
                            <option value="zone-c">Zone C(Amboseli)</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <input name="ranger" type="text" id="ranger" class="form-control"
                               placeholder="Name Of the Ranger...">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button><br>
                </form>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}