#h-1{
	text-align: center;
}
h3{
	text-align: center;
}
body{
	background-image:url("..../images/example.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
    color: black;
    font-weight: bold;
    font-size: 70px;

}
.text-center {
background-color: lightgreen;
}